In [0]:
%sql
CREATE OR REPLACE TEMP VIEW sales AS
SELECT date, category, product, store, revenue FROM (
  SELECT * FROM VALUES
    ('2024-03-01', 'Eletrônicos', 'TV', 'Loja A', 1000),
    ('2024-03-01', 'Eletrônicos', 'Celular', 'Loja B', 800),
    ('2024-03-02', 'Eletrodomésticos', 'Geladeira', 'Loja A', 1500),
    ('2024-03-02', 'Eletrônicos', 'Notebook', 'Loja C', 2000),
    ('2024-03-03', 'Móveis', 'Sofá', 'Loja B', 1200),
    ('2024-03-03', 'Eletrônicos', 'TV', 'Loja A', 1100),
    ('2024-03-04', 'Eletrodomésticos', 'Fogão', 'Loja C', 900),
    ('2024-03-04', 'Móveis', 'Mesa', 'Loja A', 700),
    ('2024-03-05', 'Eletrônicos', 'Smartwatch', 'Loja B', 500),
    ('2024-03-05', 'Eletrodomésticos', 'Microondas', 'Loja C', 850),
    ('2024-03-06', 'Móveis', 'Cadeira', 'Loja A', 450)
) AS sales(date, category, product, store, revenue)

UNION ALL

SELECT date, category, product, store, revenue FROM (
  SELECT date_add('2024-03-01', CAST(rand() * 60 AS INT)) AS date,
         CASE WHEN rand() > 0.5 THEN 'Eletrônicos' ELSE 'Eletrodomésticos' END AS category,
         CASE WHEN rand() > 0.5 THEN 'TV' ELSE 'Celular' END AS product,
         CASE WHEN rand() > 0.5 THEN 'Loja A' ELSE 'Loja B' END AS store,
         CAST(rand() * 5000 AS INT) AS revenue
  FROM range(100000000) 
) AS generated_data;

CREATE TABLE default.sales 
AS SELECT * FROM sales;

In [0]:
%sql
SELECT 
    category,
    product,
    SUM(revenue) AS total_revenue
FROM default.sales 
GROUP BY category, product

UNION ALL

SELECT 
    category,
    CAST(NULL AS STRING) AS product,
    SUM(revenue) AS total_revenue
FROM default.sales 
GROUP BY category

UNION ALL

SELECT 
    CAST(NULL AS STRING) AS category,
    CAST(NULL AS STRING) AS product,
    SUM(revenue) AS total_revenue
FROM default.sales 
ORDER BY category, product;

In [0]:
%sql
SELECT 
    category,
    product,
    SUM(revenue) AS total_revenue
FROM sales
GROUP BY GROUPING SETS (
    (category, product),
    (category),
    ()
)
ORDER BY category, product;